# CodING Academy: Python

## Warsztat 1

# PEP 8

### Czyli co to jest?
0. "Gramatyka" języka Python
0. Czytelność kodu - jednakowe zrozumienie

### Główne założenia
0. Wcięcia
0. 4 spacje
0. Długość linii (79 znaków)
0. Łamanie linii przed operatorem binarnym
0. Kodowanie UTF-8
0. Importy w osobnych liniach
0. Gdzie powinniśmy wstawiać spacje
0. Komentarze
0. Nazwy zmiennych (`snake_case`)
0. I wiele innych - zobacz: https://www.python.org/dev/peps/pep-0008/

### Zmienne

#### Wyświetlanie wartości zmiennej

In [1]:
# Zakładamy kartotekę dla klienta
imie = 'Jacek'
nazwisko = 'Kisiel'
wiek = 30
pesel = '90120123543'
numer_rachunku = '1223457543000043321234'

In [3]:
# Wyświetl na ekranie zdanie: Nowy Klient: <imie> <nazwisko>, z numerem pesel <pesel>.
print(f'Nowy Klient {imie} {nazwisko}, numer pesel {pesel}')

Nowy Klient Jacek Kisiel, numer pesel 90120123543

### Znak końca linii - '\n'

In [5]:
# Wyświetl na ekranie atrybuty klienta, żeby kazdy atrybut znajdował się w osobnej linijce. 
print(f'{imie}\n{nazwisko}\n{wiek}\n{pesel}\n{numer_rachunku}')

Jacek
Kisiel
30
90120123543
1223457543000043321234

### Operatory arytmetyczne

In [6]:
# Tworzymy dwie zmienne, na których będziemy wykonywali operacje arytmetyczne
saldo = 1000
kwota_przelewu = 500

In [9]:
# Wyświetl wartości zmiennych
print('Saldo klienta:', saldo)
print('Kwota przełewu:',kwota_przelewu )

Saldo klienta: 1000
Kwota przełewu: 500

In [11]:
# Saldo klienta po wykonaniu przelewu na rachunek klienta
print('Saldo klienta po wykonaniu przelewu:',saldo+kwota_przelewu )

Saldo klienta po wykonaniu przelewu: 1500

In [12]:
# Saldo klienta po wykonaniu przelewu z rachunku klienta
print('Saldo klienta po wykonaniu przelewu:', saldo-kwota_przelewu)

Saldo klienta po wykonaniu przelewu: 500

In [13]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przełewów:', kwota_przelewu*liczba_przelewow)

Łączna suma przełewów: 300

In [14]:
# Przypuśćmy, że klient musi wykonać przełew na kwotę 100 zł. 3 razy, jaka będzie łączna suma przełewów
kwota_przelewu = 100
liczba_przelewow = 3
print('Łączna suma przełewów:', kwota_przelewu*liczba_przelewow)

Łączna suma przełewów: 300

In [15]:
# Klient chcę równo podzielić 150 zł. pomiędzy 3 rachunkami. Jaka kwota bedzie na każdym z rachunków?
suma = 150
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', suma/liczba_rachunkow)

Kwota bedzie na każdym z rachunków: 50.0

In [17]:
# Klient chcę równo podzielić 100 zł. pomiędzy 3 rachunkami, 
# żeby kwota na każdym z rachunków odpowiadała liczbie całkowitej
suma = 100
liczba_rachunkow = 3
print('Kwota bedzie na każdym z rachunków:', suma//liczba_rachunkow)

Kwota bedzie na każdym z rachunków: 33

In [18]:
# Jaka kwota bedzie nieprzydzielona po wykonaniu poprzedniej operacji
print('Nieprzydzielona kwota:', suma%liczba_rachunkow)

Nieprzydzielona kwota: 1

In [19]:
# Operację potęgowania
x = 2
y = 3
print('Wynik potęgowania x ** y =', x**y)

Wynik potęgowania x ** y = 8

In [ ]:
# Skrócona ważność operatorów: (potęga), (iloczyn, iloraz, reszta z dzielenia, dzielenie całkowite), (suma, różnica)

In [ ]:
# Czy wynik będzie ten sam?

In [20]:
print(3 + 2 * 4)

11

In [21]:
print((3 + 2)* 4)

20

In [ ]:
# SyntaxError

In [23]:
# Czy możemy wykonać następne działania?
'imię' = 1
1 = 'nazwisko'

SyntaxError: cannot assign to literal (<ipython-input-23-b0e721cffcb7>, line 2)

### Numeryczne typy danych

In [25]:
# Sprawdź typy następnych zmiennych:
saldo = 3000
kwota_przelewu = 345.75

In [26]:
print('Typ zmiennej saldo:', type(saldo))
print('Typ zmiennej kwota_przelewu:', type(kwota_przelewu))

Typ zmiennej saldo: <class 'int'>
Typ zmiennej kwota_przelewu: <class 'float'>

In [27]:
# Skonwertuj zmienną kwota_przelewu do typu int:
print(int(kwota_przelewu))

345

# Typy logiczne

### bool
0. `False`
0. `True`

### bool-like
0. falsy
0. truthy

### Operatory porównania:
0. `<`
0. `<=`
0. `>`
0. `>=`
0. `==`
0. `!=`

### Operatory logiczne:
0. `and`
0. `or`
0. `in`
0. `is`
0. `not`

### Rzutowanie
`bool(x)`

In [32]:
# Na podstawie egzekucji klienta przypisz flagę windykcji
client_executions = []
vindication_flag = bool(client_executions)
vindication_flag

False

In [28]:
# Na podstawie salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = accout_balance > transaction_amount
transaction_possible

True

In [31]:
# Na podstawie flagi aktywności rachunku oraz salda i kwoty transakcji sprawdź czy transakcja może być zrealizowana
is_account_active = False
accout_balance = 5_123.00
transaction_amount = 234.99

transaction_possible = is_account_active and accout_balance > transaction_amount
transaction_possible

False

# Łańcuchy znaków

### String
0. `'string'`
0. `"string"`
0. `"""str
    ing"""`

### Znak wyjścia
0. `\'`
0. `\"`

### Konkatenacja
`string_1 + string_2`

### Slicing
`string[start:stop:step]`

### Rzutowanie
`str(x)`

In [38]:
# Stworzenie loginu - końcowa liczba to iloczyn wieku klienta i magicznej liczby 'JANING3094'
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91

customer_login = (first_name[0:3] +last_name[0:3]+str(age//10)+str(magic_number//10)+str(age%10)+str(magic_number%10)).upper()
customer_login

'JANING3941'

In [58]:
# Uzupełnienie numeru rachunku do 10 znaków (wiodącymi zerami)
account_number = 12345678

account_number_str = '0'*2+str(account_number)
str(account_number).zfill(10)

account_number_str

'0012345678'

In [60]:
exercise='moj string'
exercise.center?
exercise.center(100,'#')

'#############################################moj string#############################################'

### Sekwencje

#### tuple - tworzenie

In [41]:
# Stwórz krotkę, która zawiera współrzędne GPS budynku ING na Sokolskiej 34 w Katowicach: 50.265196, 19.018155
sokolska_34_gps = (50.265196, 19.018155) 
print(sokolska_34_gps)

(50.265196, 19.018155)

#### list - tworzenie

In [84]:
# Stwórz listę, która zawiera imię, nazwisko, numer klienta, wiek
imie = 'Karol'
nazwisko = 'Kowalski'
nr_klienta = 25
wiek = 25
client_features = [imie,nazwisko,nr_klienta,wiek]
print(client_features)

['Karol', 'Kowalski', 25, 25]

#### tuple, list - indeksowanie, członkostwo, długość

In [44]:
# Znajdź pierwszy, drugi i ostatni element utworzonej wcześniej listy
first_name = client_features[0]
last_name = client_features[1]
age = client_features[2]
print(first_name, last_name, age, "lata")

Karol Kowalski 12 lata

In [46]:
# Sprawdź długość listy client_features
len_client_features = len(client_features)
print(len_client_features)

4

In [81]:
# Sprawdź czy wartość 25 jest w client_features
25 in client_features

True

In [85]:
# Sprawdź pozycję pierwszego wystąpienia wartości 25
client_features.index(25)

2

In [86]:
# Sprawdź liczbę wystąpień wartości 25 w sekwencji
client_features.count(25)

2

#### tuple, list - konkatenacja (łączenie)

In [100]:
# Połącz listę klientów z 03.08 i z 04.08
clients_03_08 = ['Alicja', 'Monika', 'Natalia']
clients_04_08 = ['Jerzy', 'Mateusz', 'Robert']
clients_03_08.extend(clients_04_08)

print(clients_03_08)

['Alicja', 'Monika', 'Natalia', 'Jerzy', 'Mateusz', 'Robert']
1408487841152
1408488636288

In [49]:
# Stwórz listę z powtórzonej sekwencji elementów wykorzystując operator mnożenia
lista = [100, 200]
lista_new = lista*3
print(lista_new)
# [100,200,100,200,100,200]

[100, 200, 100, 200, 100, 200]

#### list - modyfikacja

In [50]:
# Stwórz pustą listę, która będzie zawierała nazwy kont nowego klienta
konta = ['konto']
print(konta)

['konto']

In [94]:
# Dodaj nazwę konta Direct i nazwę konta Komfort do listy
konta.extend(['Direct','Komfort'])

print(konta)

['konto walutowe', 'konto', 'Komfort', 'Walutowe_eur', 'Walutowe_usd', 'Direct', 'Komfort']

In [54]:
# Dodaj nazwę konta Mobi do listy, żeby nazwa Mobi znajdowała się na pierwszej pozycji

konta.insert(0,'Mobi')
print(konta)

['Mobi', 'konto', 'Direct', 'Komfort']

In [55]:
# Zamień nazwę konta Mobi na konto walutowe

konta[0] = 'konto walutowe'

print(konta)

['konto walutowe', 'konto', 'Direct', 'Komfort']

In [95]:
# Usuń konto Direct z listy
konta.remove('Direct')
print(konta)

['konto walutowe', 'konto', 'Komfort', 'Walutowe_eur', 'Walutowe_usd', 'Komfort']

In [57]:
# Dodaj do listy 2 nowe konta: Walutowe_eur, Walutowe_usd
konta.extend(['Walutowe_eur','Walutowe_usd'])
print(konta)

['konto walutowe', 'konto', 'Komfort', 'Walutowe_eur', 'Walutowe_usd']

In [96]:
# Usuń wszytskie elementy listy
konta.clear()
print(konta)

[]

#### zmienne jako referencje

In [102]:
# Stwórz listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Przypisz zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = ['konto walutowe', 'Komfort', 'Walutowe_eur', 'Walutowe_usd']
client_2 = client_1
print(client_2)
print(id(client_1))
print(id(client_2))

['konto walutowe', 'Komfort', 'Walutowe_eur', 'Walutowe_usd']
1408491732672
1408491732672

In [64]:
# Dodaj nazwę konta Direct do listy klienta 1
client_1.append('Direct')
print(client_1)
print(client_2)

['konto walutowe', 'Komfort', 'Walutowe_eur', 'Walutowe_usd', 'Direct', 'Direct', 'Direct']
['konto walutowe', 'Komfort', 'Walutowe_eur', 'Walutowe_usd', 'Direct', 'Direct', 'Direct']

In [ ]:
# Czy zmiany widoczne są w obydwu zmiennych.

#### list - klonowanie

In [103]:
# Stworzymy listę z nazwami kont dla klienta 1, klienta 2 ma takie same konta.
# Sklonuj zmmienną klienta 1  do  zmiennej klienta 2.
client_1  = ['konto walutowe', 'Walutowe_eur', 'Walutowe_usd']
client_2 = client_1.copy()
print(client_2)
print(id(client_1))
print(id(client_2))

['konto walutowe', 'Walutowe_eur', 'Walutowe_usd']
1408488516608
1408489951104

In [68]:
# Dodajemy nazwe konta Direct do listy klienta 1
client_1.append('Direct')
print(client_2)

['konto walutowe', 'Walutowe_eur', 'Walutowe_usd']

In [69]:
# Czy zmiany widoczne są w obydwu zmiennych.
print(client_1)

['konto walutowe', 'Walutowe_eur', 'Walutowe_usd', 'Direct']

#### tuple, list - fragmenty (slicing)

In [70]:
# Stwórz listę imion klientów
lista_klientow = ['Adam','Max','Klaudia','Janusz','Grażyna','Wiktor']

In [71]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element)
print(lista_klientow[1:4])

['Max', 'Klaudia', 'Janusz']

In [73]:
# Wyświetl elementy listy od 2 (wliczjąc 2 element) do 5 (nie wliczając 5 element), używając ujemnych wartości
print(lista_klientow[-3:0:-1])

['Janusz', 'Klaudia', 'Max']

In [74]:
# Wyswietl co 2 element listy, zaczynając od 1 elementu
print((lista_klientow[::2]))

['Adam', 'Klaudia', 'Grażyna']

In [75]:
# Odwróć kolejność elementów listy
print(lista_klientow[-1::-1])

['Wiktor', 'Grażyna', 'Janusz', 'Klaudia', 'Max', 'Adam']

#### tuple, list - konwersje, zakresy

In [114]:
# Stwórz listę na bazie krotki z numerami klientów

lista_klientow_kr = (1,2,3,4,5,6,7,8,9,)
lista_klientow_lista = list(lista_klientow_kr)

In [115]:
# Stwórz krotkę  na bazie listy z numerami klientów
lista_klientow_kr2 = list(lista_klientow_lista)

In [113]:
# Stwórz listę na bazie napisu "ING"
napis = []
napis = list('ING')
print(napis)

['I', 'N', 'G']

In [116]:
# Stwórz krotkę zawierająca pięć pierwszych liczb naturalnych (licząc od zera).

liczby = tuple(range(5))
print(liczby)

(0, 1, 2, 3, 4)

In [117]:
# Stwórz listę pierwszych pięciu liczb naturalnych licząc od jeden.
liczby = tuple(range(1,6))
print(liczby)

(1, 2, 3, 4, 5)

In [119]:
# Stwórz krotkę zawierająca liczby parzyste zaczynające się od 2
liczby = tuple(range(2,12,2))
print(liczby)

(2, 4, 6, 8, 10)

#### tuple, list - porządek, sortowanie

In [121]:
# Sprawdź czy kwoty przełewów, które zawiera lista 1 równe kwotom przełewów w liście 2
lista_1 = [10,20,30]
lista_2 = [20,30,10]
lista_1 == lista_2

False

In [ ]:
# Sprawdź czy lista 1 większa od listy 2
lista_1 = 
lista_2 =

In [122]:
# Posortuj krotkę listę imion klientów
lista_imion =  ("Ryszard", "Robert", "Andrzej", "Krzysztof", "Paweł")
print(sorted(lista_imion))

['Andrzej', 'Krzysztof', 'Paweł', 'Robert', 'Ryszard']

#### tuple, list - rozpakowywanie

In [99]:
# Przypisz do zmiennych client1, client2, inni imiona z listy lista_imion
client1, client2, *inni = lista_imion
print(f'{client1}, {client2}, {inni}')

Ryszard, Robert, ['Andrzej', 'Krzysztof', 'Paweł']

#### set - tworzenie

In [133]:
# Utwórz zbiór, który zawiera tylko unikalne numery rachunków klienta
nr_rachunku = {'1233', '2345', '4567', '2345'}
print(nr_rachunku)

{'4567', '1233', '2345'}

#### set - algebra zbiorów

In [134]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 1 klienta
# zawierają się w  zbiorze numerów rachunku 2 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}

client_1.issubset(client_2)

True

In [135]:
# Sprawdź czy wszystkie elementy zbioru numerów rachunku 2 klienta
# zawierają się w  zbiorze numerów rachunku 1 klienta
client_1 = {'1233', '2345', '4567', '2345'}
client_2 = {'1233', '4567', '2345'}

client_2.issubset(client_1)

True

In [136]:
# Sprawdź czy zbiory są rozłączne

client_1.isdisjoint(client_2)

False

#### set - modyfikacja

In [111]:
# Zmodyfikuj zbiór numerów rachunku 1 klienta, dodając do niego nr rachunku '6789'
client_1.add('6789')
print(client_1)

{'4567', '6789', '1233', '2345'}

In [123]:
# Usuń ze zbioru numerów rachunku 1 klienta, nr rachunku: 2345
client_1.remove('2345')
print(client_1)

{'4567', '6789', '1233'}

In [124]:
# Usuń wszystkie elementy ze zbioru numerów rachunku 1 klienta
client_1.clear()
print(client_1)
print(client_2)

set()
{'2345', '1233', '4567'}

#### set - elementy hashowalne

In [ ]:
set_with_list = set()
set_with_list.add([1, 2, 3])

In [ ]:
mix_set = { 1, 3, True, "Some text", 2.3, (1, 2, 3)}

# Słowniki

### Tworzenie słownika
0. `{}`
0. `dict()`

### Funkcje
0. `enumerate`
0. `zip`

In [128]:
# Kartoteka klienta jako słownik
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 = {'first_name':first_name,
                       'last_name':last_name,
                       'age':age,
                       'magic_number':magic_number,
                       'accounts_balance':accounts_balance}

customer_1234567890

{'first_name': 'Jan',
 'last_name': 'Ingowski',
 'age': 34,
 'magic_number': 91,
 'accounts_balance': 5345.87}

In [129]:
# Zebranie wielu kartotek do słownika
first_name = "Jan"
last_name = "Ingowski"
age = 34
magic_number = 91
accounts_balance = 5_345.87

customer_1234567890 =  {'first_name':first_name,
                       'last_name':last_name,
                       'age':age,
                       'magic_number':magic_number,
                       'accounts_balance':accounts_balance}

first_name = "Anna"
last_name = "Ingowska"
age = 32
magic_number = 98
accounts_balance = 6_375.89

customer_1234567891 =  {'first_name':first_name,
                       'last_name':last_name,
                       'age':age,
                       'magic_number':magic_number,
                       'accounts_balance':accounts_balance}

customers = {'1234567890':customer_1234567890,'1234567891':customer_1234567891}

customers

{'1234567890': {'first_name': 'Jan',
  'last_name': 'Ingowski',
  'age': 34,
  'magic_number': 91,
  'accounts_balance': 5345.87},
 '1234567891': {'first_name': 'Anna',
  'last_name': 'Ingowska',
  'age': 32,
  'magic_number': 98,
  'accounts_balance': 6375.89}}

#### zagnieżdżone sekwencje

In [137]:
# Stwórz listę, której elementami są 2 poniższe listy:
list_a=[1,2,3]
list_b=[4,5,6]

list_nested=[list_a,list_b]
print(list_nested)
print(list_nested[1])
print(list_nested[1][2])
# wypisz na ekran listę list_b odnosząc się do niej z użyciem list_nested (użyj indeksu)
# wypisz na ekran element o indeksie 2 z listy o indeksie 1 (5)

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
6

In [140]:
# stwórz krotkę (tuple), która zawiera kolejno: listę [1,2,3], słownik {"ala":"ma kota"}, set {1,2,3,4}
krotka=([1,2,3], {"ala":"ma kota"}, {1,2,3,4})
# zwróć z tej krotki:
# sam słownik
# stringa "ma kota"
krotka[1]['ala']

'ma kota'

Zagnieżdżać można wiele typów w sobie nawzajem. Przykładowo lista może zawierać słowniki, które to zawierają tuple (krotki).
Pewnie zastanawiacie się do czego tak skomplikowane struktury mogą byc przydatne. Spójrz na naszą kartotekę:
każdy klient, oprócz danych osobowych ma jeden lub więcej rachunków, a rachunek ma saldo i numer. Klientów jest wielu, więc możemy ich przechować np. w formie listy.

In [73]:
# Zaprojektuj zagnieżdżoną strukturę do przechowywania takich kartotek i zapisz do niej 3 klientów. 
# Niech każdy klient ma po 2 rachunki.
customer_1 = {'first_name':'Jan',
              'last_name':'Kowalski',
              'age':18}

customer_1['accounts'] = list()
acct_1 = {'nr': '123', 'balance': 1000, 'active': True}
acct_2 = {'nr': '456', 'balance': 0, 'active': False}
customer_1['accounts'].append(acct_1)
customer_1['accounts'].append(acct_2)
print(customer_1)

dane = ['first_name', 'last_name', 'age']
wartosci = ['Iwan', 'Groźny', 25]

customer_2 = dict(zip(dane,wartosci))

dane2 = ['nr','balance','active']
wartosc2 = ['223',1000, True]
wartosc3 = ['451',2, True]

customer_2['accounts'] = list()
customer_2['accounts'].append(dict(zip(dane2,wartosc2)))
customer_2['accounts'].append(dict(zip(dane2,wartosc3)))

print(customer_2)

customer_3 = dict(zip(dane,['Michał', 'Kowalski', 18]))

customer_3['accounts'] = list()
customer_3['accounts'].append(dict(zip(dane2,['223',  1000, True])))
customer_3['accounts'].append(dict(zip(dane2,['442', 0, False])))
print(customer_3)

customers = [customer_1,customer_2,customer_3]

{'first_name': 'Jan', 'last_name': 'Kowalski', 'age': 18, 'accounts': [{'nr': '123', 'balance': 1000, 'active': True}, {'nr': '456', 'balance': 0, 'active': False}]}
{'first_name': 'Iwan', 'last_name': 'Groźny', 'age': 25, 'accounts': [{'nr': '223', 'balance': 1000, 'active': True}, {'nr': '451', 'balance': 2, 'active': True}]}
{'first_name': 'Michał', 'last_name': 'Kowalski', 'age': 18, 'accounts': [{'nr': '223', 'balance': 1000, 'active': True}, {'nr': '442', 'balance': 0, 'active': False}]}

In [92]:
# Wypisz na ekran imiona klientów
#------------------1
print(customers[0]['first_name'])
#------------------2
print('name: '+ str([cust['first_name'] for cust in  customers]))

for customer in customers:
    print(customer['first_name'])

# Wypisz wszystkie numery rachunków klienta o indeksie 1
#------------------1
print(customers[1]['accounts'][1]['nr'])
#------------------2
for cust in customers[1]['accounts']:
    print(cust['nr'])
#------------------3
print(str([cust['nr'] for cust in customers[1]['accounts']]))

# Wypisz wszystkie salda wszystkich klientów
#------------------1
print(customers[1]['accounts'][1]['balance'])
#------------------2
for cust in customers:
    for account in cust['accounts']:
        print(account['balance'])
#------------------3
print(str([[account['balance'] for account in cust['accounts']] for cust in customers]))

Jan
name: ['Jan', 'Iwan', 'Michał']
Jan
Iwan
Michał
451
223
451
['223', '451']
2
1000
0
1000
2
1000
0
[[1000, 0], [1000, 2], [1000, 0]]

#### Python: instrukcje warunkowe

In [81]:
print('name: '+ str([cust['first_name'] for cust in  customers]))
  
#[cust['first_name'] for cust in  customers]

#[cust['accounts']:cust['nr'] for cust in customers.index(1)]

print(customers[1]['accounts'])

for cust in customers[1]['accounts']:
    print(cust['nr'])

[cust['nr'] for cust in customers[1]['accounts']]

name: ['Jan', 'Iwan', 'Michał']
[{'nr': '223', 'balance': 1000, 'active': True}, {'nr': '451', 'balance': 2, 'active': True}]
223
451

['223', '451']

In [ ]:
# Zwróć odpowiedź (Wykonaj operację/Nie ma wystarczających środków),
# w zależności od tego czy kwots transakcji jest większa od salda
# Klient chcę wykonać transakcję na kwotę 1010 zł, mając na koncie 1000 zł.

# Pętle

### Rodzaje pętli
0. `while`
0. `for`

### Instrukcje
0. `break`
0. `continue`

In [101]:
# Napisz pętlę do wykonania transakcji na rachunku, przerwij w przypadku braku środków
account_balance = 356.65
transactions = [-100.0, -50.0, -150.0, -230.0, -40.0]

for i in transactions:
    if account_balance + i > 0:
        account_balance += i
        print(account_balance, ' transaction ', i)
    else:
        break

256.65  transaction  -100.0
206.64999999999998  transaction  -50.0
56.64999999999998  transaction  -150.0

In [102]:
# Napisz pętlę do wykonania transakcji na rachunku, kontynuuj w przypadku braku środków
account_balance = 356.65
transactions = [-100.0, -50.0, -150.0, -230.0, -40.0]

for i in transactions:
    if account_balance + i > 0:
        account_balance += i
        print('Transaction: ', i, ' balance: ', account_balance)
    else:
        print('Not enough money!')
        continue

Transaction:  -100.0  balance:  256.65
Transaction:  -50.0  balance:  206.64999999999998
Transaction:  -150.0  balance:  56.64999999999998
Not enough money!
Transaction:  -40.0  balance:  16.649999999999977

In [103]:
# Oblicz sumę sald na rachunkach oszczędnościowych klienta
accounts = [
    {"balance": 157.75, "saving": True},
    {"balance": 1_158.35, "saving": True},
    {"balance": 3_154.35, "saving": False},
    {"balance": 2_158.35, "saving": True},
    {"balance": 758.85, "saving": False},
    {"balance": 148.85, "saving": True},
]

balance_sum = 0

for account in accounts:
    if account['saving']:
        balance_sum += account['balance']

print(f"{balance_sum:.2f}")

3623.30